 <!--================Header Menu Area =================-->
 {% include 'includes/header.html' %}
 <section class="feature_area p_120">
    <div class="container">	

            <h2 class="text-dark">Cashier / Teller Home</h2>
            <br> <br>
            
            <div class="container">
                <div class="row" >
                    <a href="{{ url_for('getaccountdetails') }}" class="btn btn-info btn-lg col-lg-3" role="button">Get Account Details</a> <hr>
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Deposit</a> <hr>
                </div>
                <br> <br>
                <div class="row" >
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Withdraw</a> <hr>
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Transfer</a> <hr>
                </div>
                <br> <br>
                <div class="row" >
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Get Statement</a> <hr>
                    <a href="{{url_for('index')}}" class="btn btn-danger btn-lg col-lg-3" role="button">Logout</a><hr>
                </div>
            </div>        
            
</div>
 </section> 
 <!--================Footer Area =================-->
 
  {%  include 'includes/footer.html'%}     