 <!--================Header Menu Area =================-->
 {% include 'includes/header.html' %}
 <section class="feature_area p_120">
    <div class="container">	

            <h2 class="text-dark">Customer Executive Home</h2>
            <br> <br>
            <div class="container">
                <div class="row" >
                    <a href="{{ url_for('createcustomer') }}" class="btn btn-info btn-lg col-lg-3" role="button">Add a New Customer</a> <hr>
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Update Customer Information</a> <hr>
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Delete Existing Customer</a>
                </div>
                <br> <br>
                <div class="row" >
                    <a href="{{ url_for('createaccount') }}" class="btn btn-info btn-lg col-lg-3" role="button">Create New Account</a> <hr>
                    <a href="#link" class="btn btn-info btn-lg col-lg-3" role="button">Delete Existing Account</a> <hr>
                    <a href="{{url_for('customerinfo')}}" class="btn btn-info btn-lg col-md-3" role="button">View Customer Information</a> 
                </div>
                <br> <br>
                <div class="row justify-content-center" >
                    <a href="{{url_for('showaccounts')}}" class="btn btn-info btn-lg col-lg-3" role="button">View Account Information</a> <hr>
                    <a href="{{url_for('index')}}" class="btn btn-danger btn-lg col-lg-3" role="button">Logout</a>
                </div>
            </div>        




    </div>
 </section> 
 <!--================Footer Area =================-->
 
  {%  include 'includes/footer.html'%}     