
        <!--================Header Menu Area =================-->
        {% include 'includes/header.html' %}
    
        
        <!--================Feature Area =================-->
        <section class="feature_area p_120" style=" background-image: url(static/img/bg1.jpg);background-repeat: no-repeat; background-size: cover">
        	<div class="container">	
        		
					<div class="main_title">
        			<h2 class="text-black text-center font-weight-bold">Welcome to ABC Bank</h2>
        			<p class="text-black font-italic font-weight-bold">The Bank you can Trust</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
						  <div class="card">
							<div class="card-body">
							  <h4 class="card-title text-dark">Customer Executive Login</h4>
							  <p class="card-text">To Create,Update and Delete Customers and Accounts.</p>
							  <a href="{{url_for('executivelogin')}}" class="btn btn-primary">Executive Login</a>
							</div>
						  </div>
						</div>
						<div class="col-sm-6">
						  <div class="card">
							<div class="card-body">
							  <h4 class="card-title text-dark">Cashier / Teller Login</h4>
							  <p class="card-text">To initiate and update account transactions.</p>
							  <a href="{{url_for('cashierlogin')}}" class="btn btn-primary">Cashier Login</a>
							</div>
						  </div>
						</div>
					  </div>
				
        			
        			
        	</div>
		</section>
		


        <!--================Footer Area =================-->
 
		{%  include 'includes/footer.html'%}
        