{% include 'includes/header.html' %}
 <section class="feature_area p_120">
    <div class="container">	
            <h2 class="text-dark">Accounts Information</h2>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Account Number</th>
                    <th scope="col">Account Type</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Customer ID</th>
                  </tr>
                </thead>
                <tbody>
                  {% for acc in accounts %}
                    <tr>
                      <td>{{ acc.acc_number }}</td>
                      <td>{{ acc.acc_type }}</td>
                      <td>{{ acc.balance }}</td>
                      <td>{{ acc.cust_id }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            
    </div>
</section>
 <!--================Footer Area =================-->
 
  {%  include 'includes/footer.html'%}     