<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{url_for('static', filename='img/favicon1.png')}}" type="image/png">
        <title>ABC Bank</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/linericon/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/lightbox/simpleLightbox.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/animate-css/animate.css')}}">
        <!-- main css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    </head>
    <body>
        
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="#"><img src="{{url_for('static', filename='img/logo1.png')}}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                {% if session['logged_in'] %}   
                    <!-- Logged in -->
                    <div class="nav navbar-right">
                        <li class="nav-item dropdown">
                          <a class="btn btn-outline-danger btn-md " href="{{url_for('logout')}}"  role="button" aria-haspopup="true">
                            Logout
                          </a>
                        </li>  
                    </div>      
                {% else %}
                <!-- Not Logged in -->
                {% endif %}
            </div>
        </nav>
    </div>
</header>